:host {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: block;
	background-color: yellowgreen;
	overflow: hidden;
	text-align: center;
	padding-top: 50px;
	box-sizing: border-box;
	ul {
		padding-top: 50px;
		li {
			display: inline-block;
			a {
				padding: 20px 40px;
				text-decoration: none;
				background-color: white;
				margin: 2px;
				border-radius: 5px;
				color: black;
			}
		}
	}
	.main {
		margin-top: 50px;
	}
}
